$mainColor: #0f1568;
$secondColor: #f36d00;
$textColor: #212121;
$textColor1: #9e9e9e;
$grey1: #eff0f5;
$white: #ffffff;
$homePageBackground: #f4f4f6;
$red1: #ff330c;
$yellow1: #faca51;
$btnColor: #1a9cb8;